body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4b0e2e;
}

button{
    background: none;
    color: #f2bb05;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.2s;
    font-family: "Quicksand"
}

button:hover{
    border-color: #fb5607;
    color: #fb5607;
    box-shadow: 0  0.5em 0.5em -0.4em #fb5607;
    transform: translateY(-0.25em);
    cursor: pointer;
}

